.SpotifyInformation {}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction:column;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;
    width: 300px;
    background-color: lightslategray;
    color: white;
    margin: 10px;
    height: 60vh;
    min-height: fit-content;
}
.leftAlign {
    text-align:left;
}